---
import Spline from "@splinetool/react-spline";
import Loader from "./Loader.astro";
---

<div class="spline-wrapper">
  <Spline
    client:only="react"
    scene="https://prod.spline.design/0zfiWcHYJLJfg6nt/scene.splinecode"
  />
  <Loader />
</div>

<style>
  .spline-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
  }
</style>
