---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Spline from "@splinetool/react-spline";
import { Suspense } from "react";
import Loader from "../components/Loader.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="spline-container">
      {
        () => {
          try {
            return (
              <Spline
                client:only="react"
                scene="https://prod.spline.design/0zfiWcHYJLJfg6nt/scene.splinecode"
              />
            );
          } catch (error) {
            return <Loader />;
          }
        }
      }
    </div>
    <div class="stack backgrounds">
      <ViewTransitions />
      <Nav />
      <slot />
      <Footer />
    </div>

    <style>
      .spline-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -2;
      }

      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark .spline-container {
        filter: brightness(0.3) contrast(1.1);
      }

      :root:not(.theme-dark) .spline-container {
        filter: brightness(0.9) contrast(1) saturate(1);
        opacity: 0.85;
      }

      .backgrounds {
        position: relative;
        z-index: 1;
        min-height: 100%;
        isolation: isolate;
        background: linear-gradient(
          to bottom,
          rgba(var(--gray-999-basis), 0.7) 0%,
          rgba(var(--gray-999-basis), 0.6) 100%
        );
        backdrop-filter: blur(4px);
      }

      :root.theme-dark .backgrounds {
        background: linear-gradient(
          to bottom,
          rgba(var(--gray-999-basis), 0.8) 0%,
          rgba(var(--gray-999-basis), 0.7) 100%
        );
        backdrop-filter: blur(6px);
      }

      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
